* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    padding: 3px 10px;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #77A1D3 100%);
}

#icon {
    font-size: 30px;
    margin: -37px 17px 4px 25px;
    color: lightcyan;
}

.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.name {
    font-size: 17px;
    text-transform: capitalize;
    color: steelblue;
}

.anchor_text {
    margin: 37px 12px 12px -18px;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        font-size: 30px;
        cursor: pointer;
        color: white;
        float: right;
        margin-top: -45px;
    }
}